body{
  font-family: Arial;
  padding-top: 40px;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 16px;
  border-bottom: 1px solid #ccc;
}

.main-content-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
}
form{
  display: flex;
  flex-direction: column;
  gap: 6px;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}
